<a href="https://colab.research.google.com/github/esmeralda2811/Python_-Basic/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Contexto:
Uma escola está promovendo uma campanha de incentivo à leitura, em que cada estudante recebe pontos ao concluir livros. Esses pontos podem ser trocados por diferentes premios da escola. As categorias de livros têm valores de pontos diferentes:
Livro de ficção: 10 pontos
Livro de não-ficção: 8 pontos
Livro infantil: 6 pontos
Rodrigo leu um livro de cada categoria. Agora ele quer saber quantos pontos acumulou com sua leitura.
Nosso objetivo é criar um programa em Python que:
Armazene a pontuação de cada categoria de livro em uma variável.
Calcule o total de pontos acumulados por Rodrigo.
Mostre na tela o total de pontos acumulados por Rodrigo.

In [ ]:
ficcao = 10
nficcao = 8
infantil =6

livros_lidos = 3;

pontos = (ficcao + nficcao + infantil)

pontos_totais = (ficcao*3 + nficcao*3 + infantil*3)

print(f"A soma dos pontos de Rodrigo, após três dias é {pontos_totais}")

print(f"A soma dos pontos de Rodrigo é {pontos}")

print(f"Total de livros lidos por Rodrigo é {livros_lidos}")

A soma dos pontos de Rodrigo, após três dias é 72
A soma dos pontos de Rodrigo é 24
Total de livros lidos por Rodrigo é 3

In [2]:
print("O tonhão vive no youtube ou jogando")

O tonhão vive no youtube ou jogando

In [4]:
ano = "Nascimeto do Alem"

In [5]:
print(ano,"O Athletico fou robando ontem na area corinthias")

Nascimeto do Alem O Athletico fou robando ontem na area corinthias

In [10]:
print(f"(ano) Competição de Phyton")

(ano) Competição de Phyton